.socials-btn {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.up,
.down
{
  display: flex;
  flex-direction: row;
}

.socials-btn,
.up,
.down
{
  gap: 20px;
}

.card1,
.card2,
.card3,
.card4
{
  display: flex;
  width: 150px;
  height: 150px;
  outline: none;
  border: none;
  background: white;
  transition: .2s ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.socials-btn-card i
{
  font-size: 30px;
}

.card1 {
  justify-content: end;
  align-items: end;
  border-radius: 100% 5px 5px 5px;
}

.whatsapp {
  color: #25D366;
  margin-bottom: 30%;
  margin-right: 30%;
}

.card2 {
  justify-content: start;
  align-items: end;
  border-radius: 5px 100% 5px 5px;
}

.linkedin {
  color: #0e76a8;
  margin-bottom: 30%;
  margin-left: 30%;
}

.card3 {
  justify-content: end;
  align-items: start;
  border-radius: 5px 5px 5px 100%;
  
}

.github {
  color: #171515;
  margin-top: 30%;
  margin-right: 30%;
}

.card4 {
  justify-content: start;
  align-items: start;
  border-radius: 5px 5px 100% 5px;
}

.google {
  color: #DB4437;
  margin-top: 30%;
  margin-left: 30%;
}

.card1:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #cc39a4;
}

.card1:hover .whatsapp {
  fill: white;
}

.card2:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #03A9F4;
}

.card2:hover .linkedin {
  fill: white;
}

.card3:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: black;
}

.card3:hover .github {
  fill: white;
}

.card4:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #8c9eff;
}

.card4:hover .google {
  fill: white;
}