.banner-home
{
  position: relative;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.banner-content
{
  width: 40%;
}

.banner-content .greeting
{
  font-size: 20px;
  font-weight: 700;
}

.banner-content h2
{
  font-size: 65px;
  font-weight: 800;
}

.banner-inset
{
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  box-shadow: inset 0 0 13px #000000ec;
}

.dark .banner-inset
{
  box-shadow: inset 0 0 13px #38bff8;
}

.typed-banner
{
  display: flex;
  font-size: 20px;
  gap: 7px;
}

.typed-banner span::after
{
  color: #38bff8;
  font-weight: 900;
}

.profession-container
{
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  aspect-ratio: 1;
  pointer-events: none;
  /* width: var(--height); */
  /* background-color: red; */
}

.profession-box
{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: -1;
}

.profession-box.circle-transitions
{
  transition: all 1.2s ease-in-out;
}

.profession-box .profession
{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
  background-color: #f1f1f1;
}

.profession-box .profession:nth-child(1)
{
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%);
}
.profession-box .profession:nth-child(2)
{
  bottom: 0%;
  left: 50%;
  transform: rotate(270deg) translate(calc(-50% - 15px), -50%);
}
.profession-box .profession:nth-child(3)
{
  top: 50%;
  right: 0%;
  transform: rotate(180deg) translate(-50%, 50%);
}
.profession-box .profession:nth-child(4)
{
  top: 0%;
  left: 50%;
  transform: rotate(90deg) translate(-50%, calc(50% - 15px));
}

.dark .profession-box .profession
{
  background-color: #101010 ;
}

.profession i
{
  font-size: 34px;
}
.profession.java-icon i
{
  color: #f0db4f;
}
.profession.angular-icon i
{
  color: #B52E31;
}
.profession.react-icon i
{
  color: #61DBFB;
}
.profession.stack-icon i
{
  color: #e34c26;
}
.profession h3
{
  font-size: 30px;
  line-height: 1;
  font-weight: 600;
  color: #212121;
}
.dark .profession h3
{
  color: #38bff8;
}

.profession-box .circle
{
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 38, 255, 0.432); */
  border: 4px solid #38bff8;
  border-radius: 50%;
}

.overlay
{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  filter: drop-shadow(0 0 13px #000000ec);
}
.dark .overlay
{
  filter: drop-shadow(0 0 13px #38bff8);
}
.overlay .figure
{
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #212121;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%, 50% 50%);
}



/*            ---- ABOUT*/
.about-section
{
  padding: 30px 0;
}

.about-head h2
{
  text-align: center;
  font-size: 65px;
}

.about-content
{
  display: flex;
  gap: 25px;
}
.about-content > div
{
  width: 50%;
  max-width: 50%;
}

.about-resume
{
  padding: 100px 0 100px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
}

.about-resume p
{
  width: 80%;
}

.about-picture
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.picture-a,
.picture-b
{
  position: absolute;
  user-select: auto;
  max-height: 110px;
  animation: float 3s ease-in-out infinite;
}

.picture-b
{
  display: none;
}
.dark .picture-b
{
  display: block;
}

.picture-a
{
  filter: invert(100%);
}
.dark .picture-a
{
  display: none;
}

.sphere-black,
.sphere-white
{
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark .sphere-black
{
  display: none;
}

.sphere-white
{
  display: none;
}

.dark .sphere-white
{
  display: flex !important;
}

@keyframes float {
  0% {
    transform: translateY(-17px);
  }
  50% {
    transform: translateY(17px);
  }
  100% {
    transform: translateY(-17px);
  }
}