*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.root-layout
{
  overflow: hidden;
}

.row-default-v1
{
  width: 90%;
  max-width: 1080px;
  margin: auto;
}

.dark body{
  background-color: #131313 !important;
  color: #ffffff;
}

/* clases de prueba */
section
{
  height: 100vh;
  border-bottom: 4px solid #0030b4;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* clases de prueba */


.custom-cursor
{
  pointer-events: none !important;
  border-radius: 50%;
  background-color: #2723ff;
  width: 5px;
  height: 5px;
  transform: translate(-50%, -50%);
}


/*  ---------------- NAVBAR and Header */
header
{
  min-height: 70px;
  height: 70px;
}

nav
{
  background-color: #cecece;
  backdrop-filter: blur(2px);
}

.fixed-navbar
{
  position: fixed;
  width: 100%;
  animation: fixednav .5s ease-in-out;
}

.row-navbar
{
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row-navbar ul
{
  display: flex;
  gap: 7px;
}

.row-navbar li
{
  list-style: none;
}

.row-navbar li a
{
  text-decoration: none;
}

@keyframes fixednav {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(0%);
    
  }
}



/* ------------------------------------- BOTONES DEL TEMA */

.theme-buttons
{
  position: fixed;
  bottom: 0px;
  left: 0px;
  margin: 0 0 20px 20px;
}

.icons-theme
{
  border-radius: 5px;
  background-color: #ffffff00;
  box-shadow: 2px 2px 5px 0px #000000bf;
  display: flex;
  /* ¡padding: 5px;
  gap: 5px; */
}

.icons-theme i
{
  position: relative;
  background: #e9e9e9;
  color: #000000;
  height: 40px;
  width: 40px;
  cursor: pointer;
  transform: scale(1.0);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s ease;
}
.icons-theme i.theme-active
{
  color: #0030b4;
}
.dark .icons-theme i
{
  background-color: #0f172a;
  color: #38bff89d;
}
.dark .icons-theme i.theme-active
{
  background-color: #0f172a;
  color: #38bff8;
}
.icons-theme i:hover
{
  transform: scale(1.1);
  box-shadow: 2px 2px 5px 0px #000000bf;
  z-index: 1;
}

.icons-theme i:nth-child(1)
{
  border-radius: 5px 0 0 5px;
}
.icons-theme i:nth-child(3)
{
  border-radius: 0 5px 5px 0;
}


.whatsapp-wrapper
{
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0 20px 20px 0;
}

.whatsapp-button
{
  box-sizing: content-box;
  position: relative;
  background-color: #25D366;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.whatsapp-button::before,
.whatsapp-button::after
{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: -1;
  background-color: #25D366;
}

.whatsapp-button::before
{
  animation: whatsapppulseA 1.5s ease-out infinite;
}

.whatsapp-button::after
{
  animation: whatsapppulseB 1.5s ease-out infinite;
}

.whatsapp-button i
{
  color: #ffffff;
  font-size: 40px;
}

@keyframes whatsapppulseA {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  35% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.7;
  }
}

@keyframes whatsapppulseB {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  35% {
    transform: scale(1.2);
    opacity: 0.8;
  }
  100% {
    transform: scale(1.7);
    opacity: 0;
  }
}








/*MEDIAQUERIES*/

/*mediaqueri standar

@media screen and (min-width: 500px) and (max-width: 800px)
{

}
*/


/* MEDIAQUERIES BASADOS EN TAILWIND */

@media screen and (min-width: 1536px) 
{

}

@media screen and (max-width: 1535px)
{

}

@media screen and (max-width: 1279px)
{

}

@media screen and (max-width: 1023px)
{

}

@media screen and (max-width: 767px)
{

}

@media screen and (max-width: 639px)
{

}